<a href="https://colab.research.google.com/github/Bishalpo/takeovds41/blob/main/Class_5_Dec08_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# rectancle with 10 rows and 20 column size
for i in range (10):
  for j in range (20):
    print ('^', end=' ')
  print(' ')

^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^

In [ ]:
# triangle with 10 rows
for i in range(10):
  for j in range(i+1):
    print('*', end=' ')
  print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10):
  for j in range (10-i):
    print ('', end=' ')
  for k in range (i+1):
    print('*', end='   ')
  print()

          *
         *   *
        *   *   *
       *   *   *   *
      *   *   *   *   *
     *   *   *   *   *   *
    *   *   *   *   *   *   *
   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *

In [ ]:
i = 1
a = 0

while i < 101: # 1, 2, 3, 4, 5... 99, 100 # False
  a += i # 1, 3, 6, 10, 15.... 5050
  i += 1 # 2, 3, 4, 5, 6, 100, 101
print(a)

5050

In [ ]:
i=1


while i<=10:
  print (i)
  i +=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0
j=0

while i<5:
  i+=1
  print('*', end=' ')
  while j<5:
    j+=1
    print('*', end=' ')
    print()

* *
*
*
*
*
* * * *

In [ ]:
while i ==10:
    while j==10:
    print('[',i,'-',j,']', end ='')
print ()

IndentationError: ignored

In [ ]:
i=0
j=0
while i<10:
    j= 0
    while j<10:
        print('[',i,'-',j,']', end ='')
        J+=1
    print()
    i+=1

[ 0 - 0 ]

NameError: ignored

In [ ]:
print ("This is line 1. \nThis is line 2.")

This is line 1.
This is line 2.

In [ ]:
i=1
while i <=5:
    print(i)
    i +=1

1
2
3
4
5

In [ ]:
prompt= "\nTell me something, and I will repeat it back to you."
prompt +="\nEnter 'quit' to end the program"

message=""
while message !='quit':
    message= input(prompt)
    print(message)
#this while loop keeps on running unless the message is 'quit'

In [ ]:
prompt= "\nTell me something, and I will repeat it back to you."
prompt +="\nEnter 'quit' to end the program"

message=""
while message =='quit':
    message= input(prompt)
    print(message)

In [ ]:
prompt= "\nTell me something, and I will repeat it back to you."
prompt +="\nEnter 'quit' to end the program"

message="quit"
while message !='quit':
    message= input(prompt)
    print(message)

In [ ]:
prompt= "\nTell me something, and I will repeat it back to you."
prompt +="\nEnter 'quit' to end the program"

active= True

while active:
    message= input(prompt)

    if message=='quit':
        active:False
    else:
        print(message)

In [ ]:
prompt= "\nTell me something, and I will repeat it back to you."
prompt +="\nEnter 'quit' to end the program"

active= False

while active:
    message= input(prompt)

    if message=='quit':
        active:False
    else:
        print(message)

In [ ]:
i=0

while i<=10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
#  consider a loop that counts from 1 to 10 but prints only the odd numbers in that range:

i=0

while i<10:
    i+=1
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
#  consider a loop that counts from 1 to 10 but prints only the even numbers in that range:

i=0

while i <10:
    i+=1
    if i%2==1:
        continue
    print(i)

2
4
6
8
10

In [ ]:
x=1
while x<=5:
    print(x)
    x+=1

1
2
3
4

In [ ]:
x=0

while x<=10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0

while i<=10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
i=0

while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
first= times[0]
minutes, rest=first.split(":")
seconds, hundredths= rest.split(".")
converted_time=(int(minutes)*60*100) + (int(seconds)*100)+ int(hundredths)
print (converted_time)#

NameError: ignored

In [ ]:
i=0
while i< 10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
hairs=['brown','blond','red']
eyes=['brown','blue','green']
weight=[1,2,3,4]

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
i=[1,2,3,4,5]
for n in i:
    print(n)

1
2
3
4
5

In [18]:
the_count=[1,2,3,4,5]
fruits=['apples','orange','pears','apricots']
change=[1,'pennies',2,'dimes','quaters']

for number in the_count:
    print(f'this is count {number}')

for fruit in fruits:
    print(f"A fruit of type: {fruit}")

for i in change:
    print(f'i got {i}')

print (f"for {the_count} I got {fruits} and I got the {change}")

element=[]
for i in range (6):
    print(f"Adding {i} to the list")
    element.append(i)

for i in element:
    print(f"element was {i} ")

this is count 1
this is count 2
this is count 3
this is count 4
this is count 5
A fruit of type: apples
A fruit of type: orange
A fruit of type: pears
A fruit of type: apricots
i got 1
i got pennies
i got 2
i got dimes
i got quaters
for [1, 2, 3, 4, 5] I got ['apples', 'orange', 'pears', 'apricots'] and I got the [1, 'pennies', 2, 'dimes', 'quaters']
Adding 0 to the list
Adding 1 to the list
Adding 2 to the list
Adding 3 to the list
Adding 4 to the list
Adding 5 to the list
element was 0
element was 1
element was 2
element was 3
element was 4
element was 5

In [19]:
element=[]
for i in range (6):
    print(f"Adding {i} to the list")
    element.append(i)

for i in element:
    print(f"element was {i} ")

Adding 0 to the list
Adding 1 to the list
Adding 2 to the list
Adding 3 to the list
Adding 4 to the list
Adding 5 to the list
element was 0
element was 1
element was 2
element was 3
element was 4
element was 5

In [20]:
for element in range(6):
    print(f"this element is {element} ")

this element is 0
this element is 1
this element is 2
this element is 3
this element is 4
this element is 5

In [21]:
for element in range(6):
    print("this element is", element )

this element is 0
this element is 1
this element is 2
this element is 3
this element is 4
this element is 5

In [28]:
i=0
number=[]

while i<6:
    print(f"At the top i is {i}")
    number.append(i)
    i=i+1
    print ('Number now : ', number)
    print(number)
for num in number:
    print(num)

At the top i is 0
Number now :  [0]
[0]
At the top i is 1
Number now :  [0, 1]
[0, 1]
At the top i is 2
Number now :  [0, 1, 2]
[0, 1, 2]
At the top i is 3
Number now :  [0, 1, 2, 3]
[0, 1, 2, 3]
At the top i is 4
Number now :  [0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
At the top i is 5
Number now :  [0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
0
1
2
3
4
5

In [29]:
i=0
number=[]

while i<6:
    print(f"At the top i is {i}")
    number.append(i)
    i=i+1
    print ('Number now : ', number)
    print(f"At the bottom i is {i}")
for num in number:
    print(num)

At the top i is 0
Number now :  [0]
At the bottom i is 1
At the top i is 1
Number now :  [0, 1]
At the bottom i is 2
At the top i is 2
Number now :  [0, 1, 2]
At the bottom i is 3
At the top i is 3
Number now :  [0, 1, 2, 3]
At the bottom i is 4
At the top i is 4
Number now :  [0, 1, 2, 3, 4]
At the bottom i is 5
At the top i is 5
Number now :  [0, 1, 2, 3, 4, 5]
At the bottom i is 6
0
1
2
3
4
5

In [24]:
print(number)

[0, 1, 2, 3, 4, 5]

In [30]:
 #rectancle with 10 rows and 20 column size
for i in range (10):
  for j in range (20):
    print ('^', end=' ')
  print(' ')

^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^

In [5]:
x=5

for y in range(1,(x+1)):
    print('*'*y)

*
**
***
****
*****

In [12]:
x=5
y=x+1

for y in range(6):
    print('*'*y,'')

*
**
***
****
*****

In [24]:
rows=3
colms=10

for i in range(rows):
    print('*'*colms, end=' ')

********** *** ********** *** ********** ***

In [26]:
rows=5
colm=5

for row in range(rows):
    print(2*('*'*colm, '*'* rows))

('*****', '*****', '*****', '*****')
('*****', '*****', '*****', '*****')
('*****', '*****', '*****', '*****')
('*****', '*****', '*****', '*****')
('*****', '*****', '*****', '*****')

In [35]:
rows=5
colm=5

for x in range(rows, colm):
    print('*'*x)

In [37]:
3!=4
not("testing" !="test" or "python"=="python")

False

In [41]:
w='this is one'
r= 'this is two'

print(f"{w} and { r} ")

this is one and this is two